{% extends "base.html" %}
{% block content %}
<html data-bs-theme="dark">
  <head>
    <meta>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ForumX</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
    href="https://fonts.googleapis.com/css?family=Titillium Web"
    rel="stylesheet"
    />
  </head>
  <body>
    {% for thread in threads %}
    <div class="container">
      <a href="{% url 'thread_posts' thread.id %}">{{ thread }}</a>
    </div>
    {% endfor %}
    <script src="/static/main.js"></script>
  </body>
  </html>
  
  {% endblock content %}