{% extends "base.html" %} 
{% block content %}
  <style>
    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
    }

    .alert {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .profile-info > span {
      margin-top: 5px;
      font-size: 15px;
    }

    .profile-link{
      font-size: 15px;
    }

  </style>
  <h1>SubForums</h1>
  <br>
  {% for thread in threads %}
  <div class="alert alert-light" role="alert">
    <a href="{% url 'thread_posts' thread.id %}"><strong>X/{{ thread.title | title }}</strong></a>
    <div class="profile-info">
      <span>created by <a class="profile-link" href="{% url 'profile' thread.user.profile.user.id %}">@{{ thread.user.username }}</a></span>
      <span>{{ thread.created_at }}</span>
    </div>
  </div>
  {% endfor %}
  <script src="/static/main.js"></script>
{% endblock content %}
