{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Update Profile</h2>
    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <label for="profile-image" class="form-label">Current Profile Picture:</label>
        <br>
        {% if profile_form.instance.profile_image %}
          <img src="{{ profile_form.instance.profile_image.url }}" alt="Current Profile Picture" class="img-thumbnail mb-2" style="max-width: 200px; max-height: 200px;">
          {% else %}
          <img src="{% static 'images/user.jpg' %}" alt="Default Profile Image" class="img-fluid profile-image"  style="max-width: 200px; max-height: 200px;">
        {% endif %}
        <br><br>
        <input type="file" name="profile_image" accept="image/*" id="profile-image" class="form-control">
      </div>
      {{ profile_form.non_field_errors }}

      <div class="mb-3">
        {{ user_form.username.label_tag }}
        {{ user_form.username }}
        <div class="invalid-feedback">
          {{ user_form.username.errors }}
        </div>
      </div>
      <div class="mb-3">
        {{ user_form.first_name.label_tag }}
        {{ user_form.first_name }}
        <div class="invalid-feedback">
          {{ user_form.first_name.errors }}
        </div>
      </div>
      <div class="mb-3">
        {{ user_form.last_name.label_tag }}
        {{ user_form.last_name }}
        <div class="invalid-feedback">
          {{ user_form.last_name.errors }}
        </div>
      </div>
      <div class="mb-3">
        {{ user_form.email.label_tag }}
        {{ user_form.email }}
        <div class="invalid-feedback">
          {{ user_form.email.errors }}
        </div>
        <br><br>
        <div class="mb-3">
          {{ user_form.profile_bio.label_tag }}
          {{ user_form.profile_bio }}
        </div>
        <div class="mb-3">
          {{ user_form.old_password.label_tag }}
          {{ user_form.old_password }}
        </div>
        <div class="mb-3">
          {{ user_form.new_password1.label_tag }}
          {{ user_form.new_password1 }}
        </div>
        <div class="mb-3">
          {{ user_form.new_password2.label_tag }}
          {{ user_form.new_password2 }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
  </div>
{% endblock %}
