/* Override Bootstrap styles for button colors */
.btn-outline-danger {
    color: #fff;
    background-color: #8B0000;
    border-color: #8B0000;
}

.btn-outline-success {
    color: #fff;
    background-color: #006400;
    border-color: #006400;
}

/* Additional styles for your custom classes */
.btn-follow {
    color: #fff;
    background-color: #006400;
    border-color: #006400;
}

.btn-unfollow {
    color: #fff;
    background-color: #8B0000;
    border-color: #8B0000;
}
